*{

	background-color: burlywood;
	text-align: center
}

.list li{
	list-style: none;
	 display:inline-block;
	margin-left: 40px;
	padding: 5px;
	font-size: 24px;
	
}
a{
	text-decoration: none;
	color:black
}
div{
	display: inline-block;
	border:1px solid black;
	
}
 section h1{
	display: none
}
.stockTable{
	margin-left: 40%;
}
td, th{
	padding: 10px
}
th{
	background-color:gray;
}
form{
	display: inline-block;
	border:1px solid black;
	padding:5px
	
}